body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#pokemon{
    max-width: 100%;
    height: auto;
  }

  img:hover{
    position: absolute;
    height: 200px;
    background-color: white;
  }